*{border-radius:0px!important; -moz-border-radius:0px!important; -webkit-border-radius:0px!important; border:none!important }
/*Override BS*/

.navbar-nav > ul {
    list-style: none;
}

.navbar-nav > li {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.navbar-default .navbar-nav > li > a {padding-left:40px; padding-right: 40px}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{padding-top:30px!important;padding-bottom:40px}
body{}

/*Main CSS*/
#particles{height:500px;
background: url('https://images.pexels.com/photos/232/apple-iphone-books-desk.jpg?w=940&h=650&auto=compress&cs=tinysrgb');
margin-top: -25px;
opacity: 0.5;

}

.navbar-default {
background-color: #026c71;
border-color: none;
}

.navbar-nav > li{padding-top:30px; padding-bottom:30px}

.navbar-nav {
display: table;
float: none;
margin: 0 auto;
table-layout: fixed;
}

.navbar-nav > li:after {
content: " •";
color: #fff;
float: right;
display: block;
z-index: 999;
position: relative;
font-size: 20px;
margin-top: -63px;
margin-right: -4px;
}

.navbar-nav > li:last-child:after{content:"";}

@media (max-width: 767px) {
 .navbar-nav > li:after{content: ""!important}
}
